[submodule "src/thruster_manager"]
	path = src/thruster_manager
	url = git@github.com:usc-robosub/cnrov_thruster_manager.git
[submodule "src/zed-ros2-wrapper"]
	path = src/dependency-pkgs/zed-ros2-wrapper
	url = https://github.com/stereolabs/zed-ros2-wrapper.git
	branch = master
