[submodule "src/barracuda_thrusters"]
	path = src/barracuda_thrusters
	url = git@github.com:usc-robosub/barracuda-thrusters.git
	branch = ros2-pkg-pi
[submodule "src/thruster_manager"]
	path = src/thruster_manager
	url = git@github.com:CentraleNantesROV/thruster_manager.git
[submodule "src/barracuda_control"]
	path = src/barracuda_control
	url = git@github.com:usc-robosub/barracuda-control.git
	branch = ros2-pkg
[submodule "src/barracuda_description"]
	path = src/barracuda_description
	url = git@github.com:usc-robosub/barracuda-description.git
	branch = ros2-pkg
